@mixin size($width,$height:$width)
{
  width:$width;
  height:$height;
}

@mixin centerer($horizontal:true,$vertical:true)
{   position:absolute;
    @if($horizontal and $vertical)
    {   top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }@else if($horizontal){
        left: 50%;
        transform: translateX(-50%);
    }@else if($vertical){
        top:50%;
        transform: translateY(-50%);
    }
}

@mixin vendor($property, $value){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}

@mixin clearfix {
  content:'';
  display: block;
  clear:both;
}

@mixin set-padding($top: null,$right: null,$bottom: null,$left: null,$rem:false)
{
  @if($rem){
    padding-top: rem-calc($top);
    padding-right: rem-calc($right);
    padding-bottom: rem-calc($bottom);
    padding-left:rem-calc($left);
  }
  @else{
    padding-top: $top * 1px;
    padding-right: $right * 1px;
    padding-bottom: $bottom * 1px;
    padding-left:$left * 1px;
  }
}


@mixin set-margin($top,$right,$bottom,$left,$rem:false)
{
  @if($rem){
     margin-top: rem-calc($top);
     margin-right: rem-calc($right);
     margin-bottom: rem-calc($bottom);
     margin-left:rem-calc($left);
  }
  @else{
     margin-top: $top * 1px;
     margin-right: $right * 1px;
     margin-bottom: $bottom * 1px;
     margin-left:$left * 1px;
  }
}
@mixin close-button($size,$thickness,$color:black){
  border: $thickness*1px solid $color;
  border-radius:50%;
  width: $size*1px;
  height:$size*1px;
  display: block;
  position: relative;
  cursor: pointer;
  &::after,&::before{
    content: '';
    display: block;
    width: $thickness*1px;
    height: ($size - 2*$thickness - $thickness)*1px;
    background: $color;
    border-radius: 10px;
    @include centerer(true,true);
  }
  &::before{
    transform: translate(-50%,-50%) rotate(45deg);
  }
  &::after{
    transform: translate(-50%,-50%) rotate(-45deg);
  }
}

//meida query mixin
@mixin for-desktops-up {
  @media (min-width: 1800px) { @content; }
}
@mixin for-laptops-up{
  @media (max-width: 1200px) { @content; }
}
@mixin for-tablets-landscape-up {
  @media (max-width: 980px) { @content; }
}
@mixin for-tablets-portrait-up{
  @media (max-width : 860px){ @content; }
}
@mixin for-phones-down {
  @media (max-width: 520px) { @content; }
}
