.accent-1{
  &-bg{
    background-color: $accent-1;
  }
  &-text{
    color: $accent-1;
  }
}
.accent-2{
  &-bg{
    background-color: $accent-2;
  }
  &-text{
    color: $accent-2;
  }
}
