.accent-primary{
  &-bg{
    background-color: $accent-primary;
  }
  &-text{
    color: $accent-primary;
  }
}
.accent-secondary{
  &-bg{
    background-color: $accent-secondary;
  }
  &-text{
    color: $accent-secondary;
  }
}

.hide{
  display: none;
}
