footer{
  background-color: $accent-primary;

}
.footer-wrapper{
  @include set-padding(44,20,25,20,true);
  max-width: rem-calc(1130);
  margin: 0 auto;
  text-align: justify;
  font-size: 0;
  div,ul{
    font-size: 14px;
  }
  &::after{
    content:'';
    display: inline-block;
    width: 100%;
  }
  @include for-phones-down{
    padding-left: 20px;
    padding-right: 20px;
  }
}
.footer-left{
  display: inline-block;
  font-size: 0;
  a{
    display: inline-block;
  }
  .logo{
    line-height: 1.5;
    color:white;
    font-weight: lighter;
    margin-right: rem-calc(38);
  }
  ul{
    display: inline-block;
    vertical-align: middle;
    margin-right:rem-calc(150);
    @include for-laptops-down{
      margin-right:rem-calc(75);
    }
    &:last-child(){
      margin-right: 0;
    }
    li{
      &+li{
      margin-top:rem-calc(8);
      }
      a{
        color:white;
        font-weight: 200;
      }
    }
  }
  @include for-tablets-landscape-down{
    display: block;
    text-align: justify;
    &::after{
      content: '';
      width:100%;
      display: inline-block;
    }
    .logo{
      display: block;
      text-align: center;
      margin-right: 0;
      margin-bottom:20px;
    }
    ul{
      &:last-child{
        text-align: right;
      }
    }
  }
}
.footer-right{
  display: inline-block;
  vertical-align: middle;
  @include for-tablets-landscape-down{
    display: block;
    margin-top:20px;
    text-align: center;
    .icons{
      margin-top:20px;
      display: block;
    }
  }
  &::after{
    @include clearfix();
  }
  >li{
    display: inline-block;
    color:white;
    margin-right: 4rem;
    @include for-laptops-down{
      margin-right: 2rem;
    }
    a{
      color:white;
      font-weight:200;

    }
    span{
    }
    a{
      margin-right:rem-calc(18);
      &:last-child(){
        margin-right: 0;
      }
    }
    &:last-child(){
      margin-right: 0;
    }
  }
  .language-selector{
    position: relative;
    cursor: pointer;

    .language-list{
      position: absolute;
      top:0;
      left: 0;
      transform: translateY(calc(-100% - 10px));
      border-radius: 10px;
      text-align: center;
      background:$accent-secondary;
      &::after{
        content: '';
        display: block;
        position: absolute;
        @include size(0);
        border-top: 10px solid $accent-secondary;
        border-left: 10px solid transparent;
        border-right:10px solid transparent;
        left: 50%;
        bottom: 0;
        transform: translate(-50%,100%);
      }
      li{
        a{
          display: inline-block;
          @include set-padding(10,20,10,20,true);
          cursor: pointer;
          &:hover{
            color:$accent-primary;
          }
        }
      }
    }
    div{
      span{


      &::after{
        content: '';
        display: block;
        width: 2px;
        height: 10px;
        position: absolute;
        left:calc(100% + 1rem);
        top: 50%;
        transform: translate(-160%,-50%)rotate(-45deg);
        border-radius: 20px;
        background: $text-primary-invert;
      }
      &::before{
        content:'';
        display: block;
        width: 2px;
        height: 10px;
        position: absolute;
        left:calc(100% + 1rem);
        top: 50%;
        transform: translate(160%,-50%)rotate(45deg);
        border-radius: 20px;
        background: $text-primary-invert;
      }
    }
    }
    span{
      font-weight:200;
    }
  }
}
