header{
  @include set-padding(20,120,25,120,true);
  position: sticky;
  top:0;
  left:0;
  right:0;
  z-index:3;
  background: rgba(255,255,255,1);
  transition: all 0.3s ease;

  .logo{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50% , -50%);
  }
  .hamburger{
    @include size(40px,30px);
    display:none;
    vertical-align: middle;
    cursor:pointer;
    span{
      display: block;
      height: 4px;
      width: 100%;
      background:$accent-secondary;
      margin-top: 9px;
      border-radius: 10px;
      &:first-child{
        margin-top: 0;
      }
    }
  }
  .nav-left{
    text-align: right;
    float:left;

  }
  .nav-right{
    float:right;
    text-align: left;
  }
  .menu{
    width:calc(50% - 50px);
      a{
        line-height: 30px;
        padding: 0 1rem;
        font-size:rem-calc(14);
        color:$text-primary;
        cursor:pointer;
        &:hover{
          color:$accent-secondary;
        }
      }
  }
  .cta-button-header{
    float: right;
    background-color: $accent-primary;
  }
  .header-wrapper{
    position: relative;
    &::after{
      content: '';
      display: block;
      clear: both;
    }
  }
}
