header{
  @include set-padding(20,120,25,120,true);
  position: sticky;
  top:0;
  left:0;
  right:0;
  z-index:3;
  background: rgba(255,255,255,0.5);
  transition: all 0.3s ease;
  &::after{
    content: '';
    display: block;
    clear: both;
  }
  .hamburger{
    @include size(40px,30px);
    display:none;
    vertical-align: middle;
    cursor:pointer;
    span{
      display: block;
      height: 4px;
      width: 100%;
      background:$accent-secondary;
      margin-top: 9px;
      border-radius: 10px;
      &:first-child{
        margin-top: 0;
      }
    }
  }
  
  >span{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
  }
  .menu{
    max-width: 800px;
    margin:0 auto;
    text-align: center;
    li{
      float: left;
      width: 14.23%;
      padding: 0 1rem;
      a{
        line-height: 30px;
        font-size:rem-calc(14);
        color:$text-primary;
        cursor:pointer;
        &:hover{
          color:$accent-secondary;
        }
      }
    }
  }
  .cta-button-header{
    float: right;
    background-color: $accent-primary;
  }
}
