html{
  scroll-behavior: smooth;
}
.container{
  max-width: 1140px;
  margin: 0  auto;
}

/* Hero landing section */
.hero{
  padding: 0 10px;
  background: url(https://cdn.zeplin.io/59de1f633fed7a7ec333d574/assets/B72B9E2D-97E9-419A-8664-94B015A7AB2E.svg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
}

.sub-description{
  margin-top: 2rem;
}

.landing-page{

  text-align: center;
  position: relative;
  padding-top: 8rem;
  padding-bottom: 20rem;

  h1,
  p{
    padding:0 30%;
  }

  p{
    @include rem-calc(margin-top,60);
  }

  .page-scroll{
    margin-top: 3.5rem;
    position: relative;
    a{
      cursor: pointer;
      color:$text-primary;
    }

    &::after{
      content: '';
      display: block;
      width: 5px;
      height: 30px;
      position: absolute;
      bottom: 0;
      top:calc(100% + 1rem);
      left: 50%;
      transform: translateX(-200%)rotate(-45deg);
      border-radius: 20px;
      background: $text-primary;
    }
    &::before{
      content:'';
      display: block;
      width: 5px;
      height: 30px;
      position: absolute;
      bottom: 0;
      top:calc(100% + 1rem);
      left: 50%;
      transform: translateX(200%)rotate(45deg);
      border-radius: 20px;
      background: $text-primary;
    }
  }
  img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
/* Discover us section */

.main-wrapper{
  padding:0 10px;
}
  .discoverus{
    text-align: center;
    @include rem-calc(padding-top,214);
    .cta-button{
      margin-top:2rem;
    }
  }

/* Team  section */

  .team{
    @include rem-calc(padding-top,214);
    &::after{
      @include clearfix();
    }
    .sub-description{
      padding: 0 25%;
    }
    .card-container{
      margin-top: 7rem;
      &::after{
        @include clearfix();
      }
      //cards
      .team-card{
        width: 50%;
        float:left;
        &>div{
          float:left;
        }
        &__thumbnail{
          @include size(160px);
          border-radius: 50%;
          overflow: hidden;
          // background-image: url("/images/thumbnail/man.png");
          // background-repeat: no-repeat;
          // background-position: center;
          // background-size: cover;
          img{
            @include size(100%);
            object-fit: cover;
            object-position: center;
          }
        }
        &__content{
          width:70%;
          padding: 0 1rem;
          .card-description{
            line-height: 2;
            margin-top: 5px;
          }
          .cta-button{
            margin-top: 5rem;
          }
        }
      }
    }
  }

  /* process section */

  .process{
    @include rem-calc(padding-top,214);
    .sub-description{
      margin-top: 2rem;
      padding: 0 25%;
    }

    .floatingcards-container{
      margin: 10rem -1rem 0 -1rem;
      &::after{
        @include clearfix();
      }
      //cards
      .floating-card{
        box-shadow: 0 4px 21px -5px rgba(97, 97, 97, 0.23);
        background-color: $card-bg;
        border-radius: 10px;
        overflow: auto;
        width:calc(16.666% + 2rem);
        float:left;
        margin-right:calc(16.666% - 2rem);
        padding: 20px 35px;
        margin-bottom:10%;
        .card-description{
          margin-top: 16.666%;
        }
        &:nth-child(6n){
          margin-right:0;
          margin-left:calc(16.666% - 2rem);
        }
        &:nth-child(6n-1){
          margin-right:0;
          margin-left:calc(16.666% - 2rem);
        }
        &:nth-child(6n-2){
          margin-right:0;
          margin-left:calc(16.666% - 2rem);
        }
      }
    }
  }

//bold-card
  .explication{
    @include rem-calc(padding-top,125);
    .bold-cards-container{
      margin-top: 2rem;
      text-align: center;
      .bold-card{
        border-radius: 10px;
        display: inline-block;
        box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.19);
        width:calc(33.333% - 30px);
        padding: 30px 20px;
        margin:10px 0;
        &-title{
          margin-top: 1rem;
        }
        &-text{
          margin-top: 1rem;
        }
        &:not(:nth-child(3n)){
          margin-right: 30px;
        }
        &:last-child(){
          margin-right: 0;
        }
      }
    }

//logo cards
    .logo-grid-container{
      text-align: center;
      margin-top: 2rem;
      .logo-grid-item{
        display: inline-block;
        vertical-align: middle;
        margin-right: 4em;
        margin-bottom: 2em;
        img{
          max-width:300px;
          max-height: 120px;
        }
      }
    }
  }

//news
  .news{
    text-align: center;
    margin-top: 15rem;
    .cta-button{
      @include rem-calc(margin-top,69);
    }
    .article-cards-container{
      text-align: justify;
      &::after{
        content: '';
        display: inline-block;
        width: 100%;
      }
      .article-card{
        display: inline-block;
        width:calc(33.33% - 20px);
        @include rem-calc(margin-top,44);
        border: solid 1px #dfdfdf;
        &__snapshot{
          @include size(100% , 180px);
        }
        &__unit{
          padding: 20px;
          @include size(100% , 40%);
          p{
            font-size: 16px;
          }
          &-bottom{
            max-height: 30px;
            position: relative;
            margin-top: 2rem;
            padding-left: 0 10px;
            font-size: 12px;
            img{
              @include size(30px);
              border-radius:50%;
              overflow: hidden;
              @include rem-calc(margin-right,10);
              vertical-align: middle;
            }
            .timestamp{
              font-size: 14px;
              right: 0;
              @include centerer(false,true);
            }
          }
        }
      }
    }

  }


  //Apply
  .apply{
    padding:0 6rem;
    margin-top: 15rem;
    form{
      @include rem-calc(margin-top,50);
      @include rem-calc(margin-bottom,65);



    }



    .user-details{
      &::after{
        @include clearfix();
      }
    }
    ul{
      li{
        margin-bottom: 2rem;
      }
    }
    .user-details__field{
      float: left;
      width: calc(50% - 7rem);
      margin-right: 14rem;
      &:nth-child(2n){
        margin-right:0;
      }
      input{
        @include rem-calc(margin-top,12);
        padding:5px 20px;
        width:100%;
        border-radius: 8px;
        border: solid 1px #d5d5d5;
      }
    }
    .cv-upload{

      .file-dropzone{
        text-align: center;
        width:100%;
        margin-top: 1rem;
        border-radius: 8px;
        border: solid 1px #d5d5d5;
        padding:3rem 0 4rem 0;
        p{
          font-weight: 200;
          color:#818182;
        }
        .file-search{
          display: inline-block;
          position: relative;
          padding:0 40px;

          &::after{
            content:'';
            position: absolute;
            bottom: 0px;
            left:0;
            right:0;
            height: 2px;
            display: block;
            background-color:#283583;
          }
          label{
            color:#283583;
            font-weight: bold;
            display: block;
            line-height: 1.75;
            cursor: pointer;
            margin-top: 1rem;
          }
          input[type="file"]{
            display: none;
          }
        }
      }
    }
    .comments{
      textarea{
        margin-top: 1rem;
        padding:20px;
        width: 100%;
        resize: none;
        border-radius: 8px;
        border: solid 1px #d5d5d5;
      }
    }
    input:invalid{
      border-color:red;
    }
    .cta-button{
      margin-top: 5rem;
      float:right;
    }

  }
  footer{
    padding:60px 100px;
    color:white;
    .footer-left{
      display: inline-block;
      span{
        font-size: 20px;
        line-height: 1.5;
        color:white;
        @include rem-calc(margin-right,38);
      }
      ul{
        display: inline-block;
        vertical-align: middle;
        @include rem-calc(margin-right,100);
        &:last-child(){
          margin-right: 0;
        }
        li{
          display:block;
          a{
            color:white;
          }
        }
      }
    }
    .footer-right{
      display: inline-block;
      li{
        color:white;
        display: inline-block;
        a{
          color:white;
        }
      }
    }
  }
