  .blowup-article{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    z-index: 3;
    margin: 0 auto;
    transform: scale(0,0);
    opacity: 0;
    transition: all 0.9s ease;
    background: white;
    background: rgba(0, 0, 0, 0.7);
      nav{
        text-align: center;
        height: 10%;
        width: 100%;
        top:0;
        @include centerer(true,false);
        span{
          @include close-button(30,3,white);
          @include centerer(false,true);
          right: 20px;
        }
      }
      &_stage{
        width:90vw;
        height:80%;
        overflow-x: hidden;
        @include centerer(1,1);
        text-align: center;
      }
      &-slider{

        width: 2000em;
        position: relative;
        height: 100%;
        transition: all 0.1s ease;
        left: 0;
        img{
          width: 90vw;
          height: 100%;
          object-fit: contain;
          float: left;
        }
      }
    }

    .arrowToggle{
      width: 100%;
      height: 100%;
      font-size: 0;
      i{
        font-size: 5rem;
        color: $accent-primary;
        cursor:pointer;
      }
      .prev{
        display: inline-block;
        top:0;
        bottom: 0;
        left:0;
        height:5rem;
        margin: auto;
        margin-left: 10px;
        position:absolute;
      }
      .next{
        display: inline-block;
        top:0;
        bottom: 0;
        right:0;
        height:5rem;
        margin: auto;
        margin-right: 10px;
        position:absolute;
      }
    }

    .active{
    transform: scale(1,1);
    opacity: 1;
    }
