%button-style {
  outline:none;
  border: none;
  border-radius: 15px;
  cursor:pointer;
  color:$text-primary-invert;
}

.cta-button{
  @extend %button-style;
  padding:0.5rem 4.25rem;
}
.cta-button-header{
  @extend %button-style;
  padding:0.5rem 3rem;
}
