header{
  padding: 20px 10px 25px 10px;
  position: sticky;
  top:0;
  left:0;
  right:0;
  text-align: center;
  z-index:3;
  .menu{
    @include centerer(true,false);
    &-links{
      float: left;
      padding: 0 2rem;
      a{
        font-size: 14px;
        color:$text-primary;
        &:hover{
          color:$accent-2;
        }
      }
    }
  }
  // nav{
  //   display: inline-block;
  //   line-height: 25px;
  //   vertical-align: middle;
  //   a{
  //     font-size: 14px;
  //     float: left;
  //     color:$text-primary;
  //     text-decoration: none;
  //     transition: all 0.3s ease;
  //     margin-right: 2em;
  //     &:last-child{
  //       margin-right:0;
  //     }
  //   }
  // }
  .logo{
    font-size: 20px;
    color: $accent-1;
  }
  .cta-button-header{
    display: block;
    margin-left: auto;
    color: $text-primary-invert;
    background-color: $accent-1;
  }
}
