.accent-primary-bg {
  background-color: #eb5b49; }

.accent-primary-text {
  color: #eb5b49; }

.accent-secondary-bg {
  background-color: #283583; }

.accent-secondary-text {
  color: #283583; }

.hide {
  display: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
*, *::after, *::before {
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

input, button, textarea {
  outline: none;
  border: none;
  font: inherit; }

/* open-sans-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Lato-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Lato-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Lato-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'SFProDisplay';
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype"); }

body {
  font-family: 'Lato';
  font-size: 0.875rem;
  font-weight: normal; }

h1 {
  font-size: 5.125rem; }

h2 {
  font-size: 5.125rem; }

h3 {
  font-size: 1.5rem; }

.logo {
  font-size: 1.25rem;
  font-weight: normal;
  color: #eb5b49; }

.main-heading {
  text-align: center;
  font-size: 5.125rem;
  font-weight: bold;
  color: #283583; }

.main-description {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #818182; }

.page-scroll {
  font-size: 1.125rem;
  line-height: 2;
  color: #020202; }

.sub-heading {
  text-align: center;
  font-size: 3rem;
  color: #020202; }

.sub-description {
  text-align: center;
  font-size: 1.25rem;
  line-height: 2;
  color: #818182; }

.cta-button {
  font-size: 1rem; }

.card-heading {
  font-size: 1.5rem;
  font-weight: 900;
  opacity: 0.68; }

.card-description {
  font-size: 0.875rem;
  line-height: 2;
  color: #929292; }

.bold-card {
  color: #ffffff;
  text-align: center; }
  .bold-card-title {
    font-size: 4rem;
    font-weight: 900; }
  .bold-card-text {
    font-size: 1.5rem;
    line-height: 1.5; }

.article-card__unit {
  font-size: 0.875rem;
  color: #000000; }
  .article-card__unit-bottom {
    color: #848484; }
    .article-card__unit-bottom span {
      font-size: 0.75rem; }
    .article-card__unit-bottom .timestamp {
      font-size: 0.875rem; }

.apply li {
  font-size: 1.5rem; }
  .apply li label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000; }
  .apply li input, .apply li textarea {
    line-height: 1.5;
    font-size: 1.25rem;
    color: #818182; }

.file-dropzone p {
  font-weight: 200;
  color: #818182; }

.apply-footer {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #a2a2a2; }

.cta-button, .cta-button-header {
  outline: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  letter-spacing: 0.5;
  color: #ffffff; }

.cta-button {
  padding: 0.5rem 4.25rem; }

.cta-button-header {
  padding: 0.5rem 3rem; }

.timestamp::before {
  content: '\f017';
  font-family: "Font Awesome 5 Free Brands","FontAwesome","Font Awesome 5 Free Solid", "Font Awesome 5 Free" !important;
  color: #919eab;
  margin-right: 0.25rem; }

header {
  padding-top: 1.25rem;
  padding-right: 7.5rem;
  padding-bottom: 1.5625rem;
  padding-left: 7.5rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease; }
  header::after {
    content: '';
    display: block;
    clear: both; }
  header .hamburger {
    width: 40px;
    height: 30px;
    display: none;
    vertical-align: middle;
    cursor: pointer; }
    header .hamburger span {
      display: block;
      height: 4px;
      width: 100%;
      background: #283583;
      margin-top: 9px;
      border-radius: 10px; }
      header .hamburger span:first-child {
        margin-top: 0; }
  header > span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  header .menu {
    max-width: 800px;
    margin: 0 auto;
    text-align: center; }
    header .menu li {
      float: left;
      width: 14.23%;
      padding: 0 1rem; }
      header .menu li a {
        line-height: 30px;
        font-size: 0.875rem;
        color: #020202;
        cursor: pointer; }
        header .menu li a:hover {
          color: #283583; }
  header .cta-button-header {
    float: right;
    background-color: #eb5b49; }

footer {
  padding-top: 2.75rem;
  padding-right: 6.375rem;
  padding-bottom: 1.5625rem;
  padding-left: 6.375rem;
  color: white;
  text-align: justify;
  font-size: 0; }
  footer div, footer ul {
    font-size: 14px; }
  footer::after {
    content: '';
    display: inline-block;
    width: 100%; }

.footer-left {
  display: inline-block;
  font-size: 0; }
  .footer-left a {
    display: inline-block; }
  .footer-left .logo {
    line-height: 1.5;
    color: white;
    font-weight: lighter;
    margin-right: 2.375rem; }
  .footer-left ul {
    display: inline-block;
    vertical-align: middle;
    margin-right: 9.375rem; }
    .footer-left ul:last-child {
      margin-right: 0; }
    .footer-left ul li {
      margin-bottom: 0.5rem; }
      .footer-left ul li a {
        color: white;
        font-weight: 200; }
      .footer-left ul li:last-child {
        margin-bottom: 0; }

.footer-right {
  display: inline-block;
  vertical-align: middle; }
  .footer-right::after {
    content: '';
    display: block;
    clear: both; }
  .footer-right > li {
    display: inline-block;
    color: white;
    margin-right: 4rem; }
    .footer-right > li a {
      color: white;
      font-weight: 200; }
    .footer-right > li a {
      margin-right: 1.125rem; }
      .footer-right > li a:last-child {
        margin-right: 0; }
    .footer-right > li:last-child {
      margin-right: 0; }
  .footer-right .language-selector {
    position: relative;
    cursor: pointer; }
    .footer-right .language-selector .language-list {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(calc(-100% - 10px));
      border-radius: 10px;
      text-align: center;
      background: #283583; }
      .footer-right .language-selector .language-list::after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 10px solid #283583;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 100%); }
      .footer-right .language-selector .language-list li a {
        display: inline-block;
        padding-top: 0.625rem;
        padding-right: 1.25rem;
        padding-bottom: 0.625rem;
        padding-left: 1.25rem;
        cursor: pointer; }
        .footer-right .language-selector .language-list li a:hover {
          color: #eb5b49; }
    .footer-right .language-selector div::after {
      content: '';
      display: block;
      width: 2px;
      height: 10px;
      position: absolute;
      left: calc(100% + 1rem);
      top: 50%;
      transform: translate(-160%, -50%) rotate(-45deg);
      border-radius: 20px;
      background: #ffffff; }
    .footer-right .language-selector div::before {
      content: '';
      display: block;
      width: 2px;
      height: 10px;
      position: absolute;
      left: calc(100% + 1rem);
      top: 50%;
      transform: translate(160%, -50%) rotate(45deg);
      border-radius: 20px;
      background: #ffffff; }
    .footer-right .language-selector span {
      font-weight: 200; }

html {
  scroll-behavior: smooth; }

.container {
  max-width: 71.25rem;
  margin: 0  auto; }

.heading-container {
  max-width: 580px;
  margin: 0 auto;
  padding: 0 10px; }

/* Hero landing section */
.hero {
  padding-top: 0rem;
  padding-right: 0.625rem;
  padding-bottom: 0rem;
  padding-left: 0.625rem;
  background: url(https://cdn.zeplin.io/59de1f633fed7a7ec333d574/assets/B72B9E2D-97E9-419A-8664-94B015A7AB2E.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 75vh;
  min-height: 650px;
  max-height: 1000px; }

.sub-description {
  margin-top: 2rem; }

.landing-page {
  text-align: center;
  position: relative;
  max-width: 550px;
  padding: 0 10px;
  top: 20%; }
  .landing-page p {
    margin-top: 3.75rem; }
  .landing-page .page-scroll {
    display: block;
    margin-top: 3.5rem;
    padding: 0 10px;
    position: relative; }
    .landing-page .page-scroll a {
      cursor: pointer;
      color: #020202; }
    .landing-page .page-scroll::after {
      content: '';
      display: block;
      width: 0.3125rem;
      height: 1.875rem;
      position: absolute;
      bottom: 0;
      top: calc(100% + 1rem);
      left: 50%;
      transform: translateX(-200%) rotate(-45deg);
      border-radius: 20px;
      background: #020202; }
    .landing-page .page-scroll::before {
      content: '';
      display: block;
      width: 0.3125rem;
      height: 1.875rem;
      position: absolute;
      bottom: 0;
      top: calc(100% + 1rem);
      left: 50%;
      transform: translateX(200%) rotate(45deg);
      border-radius: 20px;
      background: #020202; }

/* Discover us section */
.main-wrapper {
  padding-top: 0rem;
  padding-right: 1.25rem;
  padding-bottom: 0rem;
  padding-left: 1.25rem;
  margin-bottom: 13.6875rem;
  background-image: url("../../images/banners/background.svg");
  background-repeat: no-repeat;
  background-size: cover; }

.discoverus {
  text-align: center;
  padding-top: 5.3125rem; }
  .discoverus .cta-button {
    margin-top: 2rem; }
  .discoverus img {
    max-width: 460px;
    width: 50%; }

/* Team  section */
.team {
  padding-top: 12.5rem; }
  .team::after {
    content: '';
    display: block;
    clear: both; }
  .team .card-container {
    margin-top: 7rem;
    padding-top: 0rem;
    padding-right: 1.25rem;
    padding-bottom: 0rem;
    padding-left: 1.25rem; }
    .team .card-container::after {
      content: '';
      display: block;
      clear: both; }
    .team .card-container .team-card {
      width: 50%;
      float: left; }
      .team .card-container .team-card__thumbnail {
        float: left;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        overflow: hidden; }
        .team .card-container .team-card__thumbnail img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center; }
      .team .card-container .team-card__content {
        float: left;
        width: 70%;
        padding: 0 1rem; }
        .team .card-container .team-card__content .card-heading {
          text-shadow: 0px 0px 25px #c7c7c7; }
        .team .card-container .team-card__content .card-description {
          line-height: 2.1875;
          margin-top: 0.625rem;
          text-shadow: 0px 0px 25px #c7c7c7; }
        .team .card-container .team-card__content .cta-button {
          margin-top: 5rem; }

/* process section */
.process {
  padding-top: 13.375rem; }

.floatingcards-container {
  margin: 10rem 0 0 0; }
  .floatingcards-container::after {
    content: '';
    display: block;
    clear: both; }
  .floatingcards-container li {
    box-shadow: 0 4px 21px -5px rgba(97, 97, 97, 0.23);
    background-color: #fdfdfd;
    border-radius: 10px;
    overflow: auto;
    width: calc(16.666% + 3.5rem);
    float: left;
    margin-right: calc(16.666% - 3.5rem);
    padding-top: 1.75rem;
    padding-right: 1.9375rem;
    padding-bottom: 3.5rem;
    padding-left: 1.9375rem;
    margin-top: 6.875rem; }
    .floatingcards-container li .card-description {
      margin-top: 16.666%;
      line-height: 2.1875; }
    .floatingcards-container li:nth-child(1), .floatingcards-container li:nth-child(2), .floatingcards-container li:nth-child(3) {
      margin-top: 0; }
    .floatingcards-container li:nth-child(6n) {
      margin-right: 0;
      margin-left: calc(16.666% - 3.5rem); }
    .floatingcards-container li:nth-child(6n-1) {
      margin-right: 0;
      margin-left: calc(16.666% - 3.5rem); }
    .floatingcards-container li:nth-child(6n-2) {
      margin-right: 0;
      margin-left: calc(16.666% - 3.5rem); }

.explication {
  padding-top: 7.625rem; }
  .explication .bold-cards-container {
    margin-top: 2rem;
    text-align: center; }
    .explication .bold-cards-container .bold-card {
      border-radius: 10px;
      display: inline-block;
      box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.19);
      width: calc(33.333% - 30px);
      padding-top: 1.875rem;
      padding-right: 1.25rem;
      padding-bottom: 1.875rem;
      padding-left: 1.25rem;
      margin-top: 0.625rem;
      margin-right: 0rem;
      margin-bottom: 0.625rem;
      margin-left: 0rem; }
      .explication .bold-cards-container .bold-card-title {
        margin-top: 1rem; }
      .explication .bold-cards-container .bold-card-text {
        margin-top: 1rem; }
      .explication .bold-cards-container .bold-card:not(:nth-child(3n)) {
        margin-right: 1.875rem; }
      .explication .bold-cards-container .bold-card:last-child {
        margin-right: 0; }
  .explication .logo-grid-container {
    text-align: center;
    margin-top: 2rem; }
    .explication .logo-grid-container li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 4em;
      margin-bottom: 2em; }
      .explication .logo-grid-container li img {
        max-width: 18.75rem;
        max-height: 7.5rem; }

.news {
  text-align: center;
  padding-top: 10.375rem; }
  .news .article-cards-container {
    text-align: justify;
    font-size: 0; }
    .news .article-cards-container::after {
      content: ' ';
      display: inline-block;
      width: 100%; }
    .news .article-cards-container .article-card {
      display: inline-block;
      width: calc(33.33% - 20px);
      border: solid 1px #dfdfdf;
      margin-top: 2.75rem; }
      .news .article-cards-container .article-card:nth-child(1), .news .article-cards-container .article-card:nth-child(2), .news .article-cards-container .article-card:nth-child(3) {
        margin-top: 0; }
      .news .article-cards-container .article-card__snapshot {
        width: 100%;
        height: 11.25rem; }
      .news .article-cards-container .article-card__unit {
        padding-top: 1.25rem;
        padding-right: 1.25rem;
        padding-bottom: 1.25rem;
        padding-left: 1.25rem;
        width: 100%;
        height: 40%;
        background: #ffffff; }
        .news .article-cards-container .article-card__unit p {
          font-size: 1rem; }
        .news .article-cards-container .article-card__unit-bottom {
          max-height: 1.875rem;
          position: relative;
          margin-top: 2rem;
          font-size: 0.75rem; }
          .news .article-cards-container .article-card__unit-bottom img {
            width: 1.875rem;
            height: 1.875rem;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 0.625rem;
            vertical-align: middle; }
          .news .article-cards-container .article-card__unit-bottom .timestamp {
            font-size: 0.875rem;
            right: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%); }
  .news .cta-button {
    margin-top: 4.3125rem; }

.apply {
  padding-top: 16.75rem; }
  .apply::after {
    content: '';
    display: block;
    clear: both; }
  .apply .heading-container {
    max-width: 100%;
    padding: 0 10px; }
  .apply form {
    margin-top: 3.125rem; }
    .apply form > ul > li {
      margin-bottom: 2rem; }
      .apply form > ul > li:nth-child(1) {
        margin-bottom: 0; }
  .apply .user-details::after {
    content: '';
    display: block;
    clear: both; }
  .apply .user-details li {
    float: left;
    width: calc(50% - 7rem);
    margin-right: 14rem;
    margin-bottom: 2rem; }
    .apply .user-details li:nth-child(2n) {
      margin-right: 0; }
    .apply .user-details li input {
      margin-top: 1.125rem;
      padding-top: 0.3125rem;
      padding-right: 1.25rem;
      padding-bottom: 0.3125rem;
      padding-left: 1.25rem;
      width: 100%;
      border-radius: 8px;
      border: solid 1px #d5d5d5; }
      .apply .user-details li input:invalid {
        border-color: 1px solid red; }
  .apply .apply-footer {
    margin-top: 4.0625rem; }
  .apply .cv-upload .file-dropzone {
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    border-radius: 8px;
    border: solid 1px #d5d5d5;
    padding: 3rem 0 4rem 0; }
    .apply .cv-upload .file-dropzone .file-search {
      display: inline-block;
      position: relative;
      padding-top: 0rem;
      padding-right: 2.5rem;
      padding-bottom: 0rem;
      padding-left: 2.5rem; }
      .apply .cv-upload .file-dropzone .file-search::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.125rem;
        display: block;
        background-color: #283583; }
      .apply .cv-upload .file-dropzone .file-search label {
        color: #283583;
        font-weight: bold;
        display: block;
        line-height: 1.75;
        margin-top: 1rem;
        cursor: pointer; }
      .apply .cv-upload .file-dropzone .file-search input[type="file"] {
        display: none; }
  .apply .comments textarea {
    margin-top: 1rem;
    padding-top: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    width: 100%;
    resize: none;
    border-radius: 8px;
    border: solid 1px #d5d5d5; }
  .apply input:invalid {
    border-color: red; }
  .apply .cta-button {
    margin-top: 5rem;
    float: right; }

@media only screen and (min-width: 1800px) {
  html {
    font-size: 20px; } }

@media only screen and (max-width: 1200px) {
  header .hamburger {
    display: inline-block; }
  header .logo {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    left: auto;
    transform: translate(0);
    vertical-align: middle; }
  header .cta-button-header {
    display: inline-block; }
  .menu {
    display: none; }
  .team .card-container .team-card {
    width: 100%; }
    .team .card-container .team-card__content {
      width: 80%; }
    .team .card-container .team-card__thumbnail {
      width: 20%;
      height: 100%; }
    .team .card-container .team-card:last-child {
      margin-top: 100px; }
  .floatingcards-container li {
    width: calc(50% - 10rem); }
    .floatingcards-container li:nth-child(1n) {
      margin: 20px 0 0 0;
      margin-right: 10rem;
      margin-top: 5rem; }
    .floatingcards-container li:nth-child(4n), .floatingcards-container li:nth-child(4n-1) {
      margin-left: 10rem;
      margin-right: 0; }
    .floatingcards-container li:nth-child(even) {
      margin-right: 0; }
  .explication .bold-cards-container .bold-card {
    width: calc(50% - 30px); }
  .news .article-cards-container .article-card {
    width: calc(50% - 20px); }
    .news .article-cards-container .article-card:nth-child(1n) {
      margin-top: 2.75rem; }
  .footer-left ul {
    margin-right: 4.6875rem; }
  .footer-right li {
    margin-right: 2rem; } }

@media only screen and (max-width: 980px) {
  header {
    padding: 20px 40px; }
  .team .card-container {
    text-align: center; }
    .team .card-container .team-card {
      width: 100%; }
      .team .card-container .team-card__content {
        width: 100%;
        margin-top: 30px; }
        .team .card-container .team-card__content .cta-button {
          margin-top: 3rem; }
      .team .card-container .team-card__thumbnail {
        width: 30%;
        height: 100%;
        float: none;
        margin: auto; }
      .team .card-container .team-card:last-child {
        margin-top: 150px; }
  .apply .user-details li {
    width: 100%; }
  .footer-left {
    display: block;
    text-align: justify; }
    .footer-left::after {
      content: '';
      width: 100%;
      display: inline-block; }
    .footer-left .logo {
      display: block;
      margin: auto;
      text-align: center; }
    .footer-left ul {
      width: calc(50%);
      margin: 20px 0 0 0; }
      .footer-left ul:last-child {
        text-align: right; }
  .footer-right {
    display: block;
    margin-top: 20px;
    text-align: center; }
    .footer-right .icons {
      margin-top: 20px;
      display: block; } }

@media only screen and (max-width: 860px) {
  .floatingcards-container li {
    width: calc(100%); }
    .floatingcards-container li:nth-child(1n) {
      margin: 20px 0 0 0; }
  .explication .bold-cards-container .bold-card {
    width: calc(100%); }
  .news .article-cards-container .article-card {
    width: calc(100%); } }

@media only screen and (max-width: 860px) {
  .footer-left {
    text-align: center; }
    .footer-left ul {
      width: 100%;
      margin: 0; }
      .footer-left ul li {
        display: block;
        margin: 10px 0; }
      .footer-left ul:last-child {
        text-align: center; }
  .footer-right {
    text-align: center; }
    .footer-right li {
      display: block;
      margin: 10px 0; } }
