.accent-primary-bg {
  background-color: #eb5b49; }

.accent-primary-text {
  color: #eb5b49; }

.accent-secondary-bg {
  background-color: #283583; }

.accent-secondary-text {
  color: #283583; }

.hide {
  display: none; }

.mb-zero {
  margin-bottom: 0 !important; }

.cta-button, .cta-button-header {
  outline: none;
  border: none;
  border-radius: 2em;
  cursor: pointer;
  color: #ffffff; }

/* Html reset  */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
*, *::after, *::before {
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

input,
textarea,
select,
button {
  color: inherit;
  outline: none;
  font: inherit;
  letter-spacing: inherit; }

/* Importing font - Lato */
/* font: Lato-Black */
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../../fonts/Lato-Black.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-Black.woff2") format("woff2"), url("../../fonts/Lato-Black.woff") format("woff"), url("../../fonts/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility; }

/* font: Lato-BlackItalic */
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../../fonts/Lato-BlackItalic.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-BlackItalic.woff2") format("woff2"), url("../../fonts/Lato-BlackItalic.woff") format("woff"), url("../../fonts/Lato-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
  text-rendering: optimizeLegibility; }

/* font: Lato-Bold */
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../../fonts/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-Bold.woff2") format("woff2"), url("../../fonts/Lato-Bold.woff") format("woff"), url("../../fonts/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility; }

/* font: Lato-BoldItalic */
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../../fonts/Lato-BoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-BoldItalic.woff2") format("woff2"), url("../../fonts/Lato-BoldItalic.woff") format("woff"), url("../../fonts/Lato-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility; }

/* font: Lato-Hairline */
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../../fonts/Lato-Hairline.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-Hairline.woff2") format("woff2"), url("../../fonts/Lato-Hairline.woff") format("woff"), url("../../fonts/Lato-Hairline.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility; }

/* font: Lato-HairlineItalic */
@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-HairlineItalic.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-HairlineItalic.woff2") format("woff2"), url("../../fonts/Lato-HairlineItalic.woff") format("woff"), url("../../fonts/Lato-HairlineItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
  text-rendering: optimizeLegibility; }

/* font: Lato-Heavy */
@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-Heavy.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-Heavy.woff2") format("woff2"), url("../../fonts/Lato-Heavy.woff") format("woff"), url("../../fonts/Lato-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
  text-rendering: optimizeLegibility; }

/* font: Lato-HeavyItalic */
@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-HeavyItalic.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-HeavyItalic.woff2") format("woff2"), url("../../fonts/Lato-HeavyItalic.woff") format("woff"), url("../../fonts/Lato-HeavyItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 800;
  text-rendering: optimizeLegibility; }

/* font: Lato-Light */
@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-Light.woff2") format("woff2"), url("../../fonts/Lato-Light.woff") format("woff"), url("../../fonts/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

/* font: Lato-LightItalic */
@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-LightItalic.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-LightItalic.woff2") format("woff2"), url("../../fonts/Lato-LightItalic.woff") format("woff"), url("../../fonts/Lato-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

/* font: Lato-Medium */
@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-Medium.woff2") format("woff2"), url("../../fonts/Lato-Medium.woff") format("woff"), url("../../fonts/Lato-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility; }

/* font: Lato-MediumItalic */
@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-MediumItalic.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-MediumItalic.woff2") format("woff2"), url("../../fonts/Lato-MediumItalic.woff") format("woff"), url("../../fonts/Lato-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
  text-rendering: optimizeLegibility; }

/* font: Lato-Regular */
@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-Regular.woff2") format("woff2"), url("../../fonts/Lato-Regular.woff") format("woff"), url("../../fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility; }

/* font: Lato-Semibold */
@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-Semibold.woff2") format("woff2"), url("../../fonts/Lato-Semibold.woff") format("woff"), url("../../fonts/Lato-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility; }

/* font: Lato-SemiboldItalic */
@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-SemiboldItalic.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-SemiboldItalic.woff2") format("woff2"), url("../../fonts/Lato-SemiboldItalic.woff") format("woff"), url("../../fonts/Lato-SemiboldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
  text-rendering: optimizeLegibility; }

/* font: Lato-Thin */
@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-Thin.woff2") format("woff2"), url("../../fonts/Lato-Thin.woff") format("woff"), url("../../fonts/Lato-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
  text-rendering: optimizeLegibility; }

/* font: Lato-ThinItalic */
@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-ThinItalic.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-ThinItalic.woff2") format("woff2"), url("../../fonts/Lato-ThinItalic.woff") format("woff"), url("../../fonts/Lato-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 200;
  text-rendering: optimizeLegibility; }

/* page typography */
body {
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 400; }

/* heading styles */
h1 {
  font-size: 5.125rem; }

h2 {
  font-size: 5.125rem; }

h3 {
  font-size: 1.5rem; }

.logo {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: normal;
  color: #eb5b49;
  cursor: pointer; }

.main-heading {
  text-align: center;
  font-size: 5.125rem;
  font-weight: bold;
  color: #283583; }

.main-description {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #818182; }

.page-scroll {
  font-size: 1.125rem;
  line-height: 2;
  color: #020202; }

.sub-heading {
  text-align: center;
  font-size: 3rem;
  color: #020202; }

.sub-description {
  text-align: center;
  font-size: 1.25rem;
  line-height: 2;
  color: #818182; }

.cta-button {
  font-size: 1rem; }

.card-heading {
  font-size: 1.5rem;
  font-weight: 600; }

.card-description {
  font-size: 0.875rem;
  line-height: 2;
  color: #929292; }

.bold-card {
  color: #ffffff;
  text-align: center; }
  .bold-card-title {
    font-size: 4rem;
    font-weight: 900; }
  .bold-card-text {
    font-size: 1.5rem;
    line-height: 1.5; }

.article-card__unit {
  font-size: 0.875rem;
  color: #000000; }
  .article-card__unit-bottom {
    color: #848484; }
    .article-card__unit-bottom span {
      font-size: 0.75rem; }
    .article-card__unit-bottom .timestamp {
      font-size: 0.875rem; }

.apply li {
  font-size: 1.5rem; }
  .apply li label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000; }
  .apply li input, .apply li textarea {
    line-height: 1.5;
    font-size: 1.25rem;
    color: #818182; }

.file-dropzone p {
  font-size: 18px;
  font-weight: 200;
  color: #818182;
  line-height: 2.3; }

.file-dropzone .cv-upload {
  font-size: 20px; }

.apply-footer {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #a2a2a2; }

.cta-button {
  padding: 0 10%;
  line-height: 2.2;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  box-shadow: 0px 5px 10px 1px #f0f0f0; }

.cta-button-header {
  line-height: 2.5;
  padding: 0 3rem;
  font-size: 12px;
  box-shadow: 0px 0px 10px 6px rgba(248, 229, 227, 0.5); }

.timestamp::before {
  content: '\f017';
  font-family: "Font Awesome 5 Free Brands","FontAwesome","Font Awesome 5 Free Solid", "Font Awesome 5 Free" !important;
  color: #919eab;
  margin-right: 0.25rem; }

.hamburger {
  width: 40px;
  height: 30px;
  display: none;
  position: relative;
  vertical-align: middle;
  cursor: pointer; }
  @media (max-width: 1120px) {
    .hamburger {
      margin-right: 20px;
      display: inline-block; } }
  .hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 40px;
    background: #283583;
    border-radius: 10px;
    transition: top 0.2s ease-in, transform 0.2s ease-in-out,opacity 0.2s; }
    .hamburger span:nth-of-type(1) {
      top: 0; }
    .hamburger span:nth-of-type(2) {
      top: 13px; }
    .hamburger span:nth-of-type(3) {
      top: 26px; }

.mobilemenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background: white;
  transform: translateX(-100%);
  transition: transform 400ms ease-in-out;
  display: none;
  border-right: 1px solid #fff; }
  @media (max-width: 1120px) {
    .mobilemenu {
      display: block; } }
  .mobilemenu ul {
    overflow-y: auto;
    margin-top: 70px;
    height: 100%; }
    .mobilemenu ul li {
      padding: 20px 30px; }
      .mobilemenu ul li a {
        font-size: 30px;
        color: black; }
        .mobilemenu ul li a:hover {
          color: #eb5b49; }

.current {
  color: #eb5b49;
  font-size: 32px; }

.mobilemenuopen .mobilemenu {
  transform: translateX(0); }

.mobilemenuopen .hamburger span:nth-of-type(1) {
  top: 13px;
  transform: rotate(45deg); }

.mobilemenuopen .hamburger span:nth-of-type(2) {
  opacity: 0; }

.mobilemenuopen .hamburger span:nth-of-type(3) {
  top: 13px;
  transform: rotate(-45deg); }

.blowup-article {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  margin: 0 auto;
  transform: scale(0, 0);
  opacity: 0;
  transition: all 0.9s ease;
  background: white;
  background: rgba(0, 0, 0, 0.7); }
  .blowup-article nav {
    text-align: center;
    height: 10%;
    width: 100%;
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .blowup-article nav span {
      border: 3px solid white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: block;
      position: relative;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px; }
      .blowup-article nav span::after, .blowup-article nav span::before {
        content: '';
        display: block;
        width: 3px;
        height: 21px;
        background: white;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .blowup-article nav span::before {
        transform: translate(-50%, -50%) rotate(45deg); }
      .blowup-article nav span::after {
        transform: translate(-50%, -50%) rotate(-45deg); }
  .blowup-article_stage {
    width: 90vw;
    height: 80%;
    overflow-x: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .blowup-article-slider {
    width: 2000em;
    position: relative;
    height: 100%;
    transition: all 0.1s ease;
    left: 0; }
    .blowup-article-slider img {
      width: 90vw;
      height: 100%;
      object-fit: contain;
      float: left; }

.arrowToggle {
  width: 100%;
  height: 100%;
  font-size: 0; }
  .arrowToggle i {
    font-size: 5rem;
    color: #eb5b49;
    cursor: pointer; }
  .arrowToggle .prev {
    display: inline-block;
    top: 0;
    bottom: 0;
    left: 0;
    height: 5rem;
    margin: auto;
    margin-left: 10px;
    position: absolute; }
  .arrowToggle .next {
    display: inline-block;
    top: 0;
    bottom: 0;
    right: 0;
    height: 5rem;
    margin: auto;
    margin-right: 10px;
    position: absolute; }

.active {
  transform: scale(1, 1);
  opacity: 1; }

header {
  padding-top: 1.25rem;
  padding-right: 7.5rem;
  padding-bottom: 1.5625rem;
  padding-left: 7.5rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: white;
  border-bottom: 1px solid #f4f4f4;
  transition: all 0.3s ease; }
  @media (max-width: 980px) {
    header {
      padding: 20px 20px; } }
  header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    @media (max-width: 1120px) {
      header .logo {
        left: auto;
        transform: translate(0); } }
  header .nav-left {
    text-align: right;
    float: left;
    z-index: 1; }
    @media (max-width: 1120px) {
      header .nav-left {
        text-align: left; } }
  header .nav-right {
    float: right;
    text-align: left; }
  header .menu {
    width: calc(50% - 50px); }
    header .menu ul {
      display: inline-block; }
      @media (max-width: 1120px) {
        header .menu ul {
          display: none; } }
      header .menu ul li {
        display: inline-block; }
    header .menu a {
      line-height: 30px;
      padding: 0 1rem;
      font-size: 0.875rem;
      color: #020202;
      cursor: pointer; }
      header .menu a:hover {
        color: #283583; }
  header .cta-button-header {
    float: right;
    background-color: #eb5b49; }
    @media (max-width: 1120px) {
      header .cta-button-header {
        display: inline-block; } }
  header .header-wrapper {
    position: relative; }
    header .header-wrapper::after {
      content: '';
      display: block;
      clear: both; }

footer {
  background-color: #eb5b49; }

.footer-wrapper {
  padding-top: 2.75rem;
  padding-right: 1.25rem;
  padding-bottom: 1.5625rem;
  padding-left: 1.25rem;
  max-width: 70.625rem;
  margin: 0 auto;
  text-align: justify;
  font-size: 0; }
  .footer-wrapper div, .footer-wrapper ul {
    font-size: 14px; }
  .footer-wrapper::after {
    content: '';
    display: inline-block;
    width: 100%; }
  @media (max-width: 520px) {
    .footer-wrapper {
      padding-left: 20px;
      padding-right: 20px; } }

.footer-left {
  display: inline-block;
  font-size: 0; }
  .footer-left a {
    display: inline-block; }
  .footer-left .logo {
    line-height: 1.5;
    color: white;
    font-weight: lighter;
    margin-right: 2.375rem; }
  .footer-left ul {
    display: inline-block;
    vertical-align: middle;
    margin-right: 9.375rem; }
    @media (max-width: 1120px) {
      .footer-left ul {
        margin-right: 4.6875rem; } }
    .footer-left ul:last-child {
      margin-right: 0; }
    .footer-left ul li + li {
      margin-top: 0.5rem; }
    .footer-left ul li a {
      color: white;
      font-weight: 200; }
  @media (max-width: 980px) {
    .footer-left {
      display: block;
      text-align: justify; }
      .footer-left::after {
        content: '';
        width: 100%;
        display: inline-block; }
      .footer-left .logo {
        display: block;
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px; }
      .footer-left ul:last-child {
        text-align: right; } }

.footer-right {
  display: inline-block;
  vertical-align: middle; }
  @media (max-width: 980px) {
    .footer-right {
      display: block;
      margin-top: 20px;
      text-align: center; }
      .footer-right .icons {
        margin-top: 20px;
        display: block; } }
  .footer-right::after {
    content: '';
    display: block;
    clear: both; }
  .footer-right > li {
    display: inline-block;
    color: white;
    margin-right: 4rem; }
    @media (max-width: 1120px) {
      .footer-right > li {
        margin-right: 2rem; } }
    .footer-right > li a {
      color: white;
      font-weight: 200; }
    .footer-right > li a {
      margin-right: 1.125rem; }
      .footer-right > li a:last-child {
        margin-right: 0; }
    .footer-right > li:last-child {
      margin-right: 0; }
  .footer-right .language-selector {
    position: relative;
    cursor: pointer; }
    .footer-right .language-selector .language-list {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(calc(-100% - 10px));
      border-radius: 10px;
      text-align: center;
      background: #283583; }
      .footer-right .language-selector .language-list::after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 10px solid #283583;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 100%); }
      .footer-right .language-selector .language-list li a {
        display: inline-block;
        padding-top: 0.625rem;
        padding-right: 1.25rem;
        padding-bottom: 0.625rem;
        padding-left: 1.25rem;
        cursor: pointer; }
        .footer-right .language-selector .language-list li a:hover {
          color: #eb5b49; }
    .footer-right .language-selector div span::after {
      content: '';
      display: block;
      width: 2px;
      height: 10px;
      position: absolute;
      left: calc(100% + 1rem);
      top: 50%;
      transform: translate(-160%, -50%) rotate(-45deg);
      border-radius: 20px;
      background: #ffffff; }
    .footer-right .language-selector div span::before {
      content: '';
      display: block;
      width: 2px;
      height: 10px;
      position: absolute;
      left: calc(100% + 1rem);
      top: 50%;
      transform: translate(160%, -50%) rotate(45deg);
      border-radius: 20px;
      background: #ffffff; }
    .footer-right .language-selector span {
      font-weight: 200; }

html {
  scroll-behavior: smooth; }
  @media (min-width: 1800px) {
    html {
      font-size: 20px; } }
  @media (max-width: 520px) {
    html {
      font-size: 12px; } }

body {
  background-image: url("../../images/banners/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 950px; }

.container {
  max-width: 72.5rem;
  padding: 0 10px;
  margin: 0  auto; }

.heading-container {
  max-width: 580px;
  margin: 0 auto; }

/* Hero landing section */
.hero {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background: url(https://cdn.zeplin.io/59de1f633fed7a7ec333d574/assets/B72B9E2D-97E9-419A-8664-94B015A7AB2E.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 75vh;
  min-height: 750px;
  max-height: 1000px; }

.sub-description {
  margin-top: 2rem; }

.landing-page {
  text-align: center;
  position: relative;
  max-width: 570px;
  margin: 0 auto;
  top: 15%; }
  .landing-page p {
    margin-top: 3.75rem; }
  .landing-page .page-scroll {
    display: block;
    margin-top: 3.5rem;
    position: relative; }
    .landing-page .page-scroll a {
      cursor: pointer;
      color: #020202; }
    .landing-page .page-scroll::after {
      content: '';
      display: block;
      width: 0.3125rem;
      height: 1.875rem;
      position: absolute;
      bottom: 0;
      top: calc(100% + 1rem);
      left: 50%;
      transform: translateX(-200%) rotate(-45deg);
      border-radius: 20px;
      background: #020202; }
    .landing-page .page-scroll::before {
      content: '';
      display: block;
      width: 0.3125rem;
      height: 1.875rem;
      position: absolute;
      bottom: 0;
      top: calc(100% + 1rem);
      left: 50%;
      transform: translateX(200%) rotate(45deg);
      border-radius: 20px;
      background: #020202; }

/* Discover us section */
.discoverus {
  text-align: center;
  padding-top: 5.3125rem; }
  .discoverus .cta-button {
    padding: 0 4rem;
    margin-top: 2rem; }
  .discoverus img {
    max-width: 460px;
    width: 50%; }

/* Team  section */
.team {
  padding-top: 12.5rem; }
  .team::after {
    content: '';
    display: block;
    clear: both; }

.team-cards-container {
  margin-top: 7rem; }
  .team-cards-container::after {
    content: '';
    display: block;
    clear: both; }
  .team-cards-container .team-card {
    width: 50%;
    float: left; }
    .team-cards-container .team-card__thumbnail {
      float: left;
      width: 10rem;
      height: 10.3125rem;
      border-radius: 50%;
      overflow: hidden; }
      .team-cards-container .team-card__thumbnail img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }
    .team-cards-container .team-card__content {
      float: left;
      width: 70%;
      padding: 0 1rem; }
      .team-cards-container .team-card__content .card-heading {
        text-shadow: 0px 5px 20px #fafafa; }
      .team-cards-container .team-card__content .card-description {
        line-height: 2.2;
        margin-top: 0.625rem;
        text-shadow: 0px 5px 20px #fafafa; }
      .team-cards-container .team-card__content .cta-button {
        padding: 0 2.2rem;
        margin-top: 5rem; }
    @media (max-width: 1120px) {
      .team-cards-container .team-card {
        width: 100%; }
        .team-cards-container .team-card:last-child {
          margin-top: 100px; }
        .team-cards-container .team-card_thumbnail {
          width: 20%;
          height: 100%; }
        .team-cards-container .team-card__content {
          width: 80%; } }
    @media (max-width: 860px) {
      .team-cards-container .team-card {
        text-align: center; }
        .team-cards-container .team-card .team-card {
          width: 100%; }
          .team-cards-container .team-card .team-card__content {
            width: 100%;
            margin-top: 30px; }
            .team-cards-container .team-card .team-card__content .cta-button {
              margin-top: 3rem; }
          .team-cards-container .team-card .team-card__thumbnail {
            width: 30%;
            height: 100%;
            float: none;
            margin: auto; }
          .team-cards-container .team-card .team-card:last-child {
            margin-top: 100px; } }

/* process section */
.process {
  padding-top: 13.375rem; }
  .process.container {
    max-width: 81.875rem; }

.floatingcards-container {
  margin: 10rem 0 0 0; }
  .floatingcards-container::after {
    content: '';
    display: block;
    clear: both; }
  .floatingcards-container li {
    box-shadow: 0 4px 21px -5px rgba(97, 97, 97, 0.23);
    background-color: #fdfdfd;
    border-radius: 10px;
    overflow: auto;
    width: calc(16.666% + 3.5rem);
    float: left;
    margin-right: calc(16.666% - 3.5rem);
    padding-top: 1.75rem;
    padding-right: 1.9375rem;
    padding-bottom: 3.5rem;
    padding-left: 1.9375rem;
    margin-top: 6.875rem; }
    .floatingcards-container li .card-heading {
      opacity: 0.68; }
    .floatingcards-container li .card-description {
      margin-top: 0.625rem;
      line-height: 2.1875;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical; }
    .floatingcards-container li:nth-child(1), .floatingcards-container li:nth-child(2), .floatingcards-container li:nth-child(3) {
      margin-top: 0; }
    .floatingcards-container li:nth-child(6n) {
      margin-right: 0;
      margin-left: calc(16.666% - 3.5rem); }
    .floatingcards-container li:nth-child(6n-1) {
      margin-right: 0;
      margin-left: calc(16.666% - 3.5rem); }
    .floatingcards-container li:nth-child(6n-2) {
      margin-right: 0;
      margin-left: calc(16.666% - 3.5rem); }
    @media (max-width: 1120px) {
      .floatingcards-container li {
        width: calc(50% - 10rem); }
        .floatingcards-container li:nth-child(1n) {
          margin: 20px 0 0 0;
          margin-right: 10rem;
          margin-top: 5rem; }
        .floatingcards-container li:nth-child(4n), .floatingcards-container li:nth-child(4n-1) {
          margin-left: 10rem;
          margin-right: 0; }
        .floatingcards-container li:nth-child(even) {
          margin-right: 0; } }
    @media (max-width: 860px) {
      .floatingcards-container li {
        width: calc(100%); }
        .floatingcards-container li:nth-child(1n) {
          margin: 20px 0 0 0; } }

/* explication section */
.explication {
  padding-top: 7.625rem; }
  .explication .bold-cards-container {
    margin-top: 2rem;
    text-align: center; }
    .explication .bold-cards-container .bold-card {
      border-radius: 10px;
      display: inline-block;
      box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.19);
      width: calc(33.333% - 30px);
      padding-top: 1.875rem;
      padding-right: 1.25rem;
      padding-bottom: 1.875rem;
      padding-left: 1.25rem;
      margin-top: 0.625rem;
      margin-right: 0rem;
      margin-bottom: 0.625rem;
      margin-left: 0rem; }
      .explication .bold-cards-container .bold-card-title {
        margin-top: 1rem; }
      .explication .bold-cards-container .bold-card-text {
        margin-top: 1rem; }
      .explication .bold-cards-container .bold-card:not(:nth-child(3n)) {
        margin-right: 1.875rem; }
      .explication .bold-cards-container .bold-card:last-child {
        margin-right: 0; }
      @media (max-width: 1120px) {
        .explication .bold-cards-container .bold-card {
          width: calc(50% - 30px); } }
      @media (max-width: 860px) {
        .explication .bold-cards-container .bold-card {
          width: calc(100%); } }
  .explication .logo-grid-container {
    text-align: center;
    margin-top: 2rem; }
    .explication .logo-grid-container li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 4em;
      margin-bottom: 2em; }
      @media (max-width: 520px) {
        .explication .logo-grid-container li {
          display: block;
          margin: 40px 0 0 0; }
          .explication .logo-grid-container li img {
            max-width: 100%; } }
      .explication .logo-grid-container li img {
        max-width: 18.75rem;
        max-height: 7.5rem; }

.news {
  text-align: center;
  padding-top: 10.375rem; }
  .news .article-cards-container {
    text-align: justify;
    font-size: 0; }
    .news .article-cards-container::after {
      content: ' ';
      display: inline-block;
      width: 100%; }
    .news .article-cards-container .article-card {
      display: inline-block;
      width: calc(33.33% - 20px);
      border: solid 1px #dfdfdf;
      margin-top: 2.75rem; }
      .news .article-cards-container .article-card:nth-child(1), .news .article-cards-container .article-card:nth-child(2), .news .article-cards-container .article-card:nth-child(3) {
        margin-top: 0; }
      .news .article-cards-container .article-card__snapshot {
        width: 100%;
        height: 11.25rem; }
      .news .article-cards-container .article-card__unit {
        padding-top: 1.25rem;
        padding-right: 1.25rem;
        padding-bottom: 1.25rem;
        padding-left: 1.25rem;
        width: 100%;
        height: 40%;
        background: #ffffff; }
        .news .article-cards-container .article-card__unit p {
          font-size: 1rem; }
        .news .article-cards-container .article-card__unit-bottom {
          max-height: 1.875rem;
          position: relative;
          margin-top: 2rem;
          font-size: 0.75rem; }
          .news .article-cards-container .article-card__unit-bottom img {
            width: 1.875rem;
            height: 1.875rem;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 0.625rem;
            vertical-align: middle; }
          .news .article-cards-container .article-card__unit-bottom .timestamp {
            font-size: 0.875rem;
            right: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%); }
      @media (max-width: 1120px) {
        .news .article-cards-container .article-card {
          width: calc(50% - 20px); }
          .news .article-cards-container .article-card:nth-child(1n) {
            margin-top: 2.75rem; } }
      @media (max-width: 860px) {
        .news .article-cards-container .article-card {
          width: calc(100%); } }
  .news .cta-button {
    padding: 0 5.7rem;
    margin-top: 4.3125rem; }

.apply {
  padding-top: 16.75rem;
  padding-bottom: 13.6875rem;
  max-width: 950px;
  margin: 0 auto; }
  .apply::after {
    content: '';
    display: block;
    clear: both; }
  .apply .heading-container {
    max-width: 100%;
    padding: 0 10px; }
  .apply form {
    margin-top: 3.125rem; }
    .apply form > ul > li {
      margin-bottom: 2rem; }
      .apply form > ul > li:nth-child(1) {
        margin-bottom: 0; }
  .apply .user-details::after {
    content: '';
    display: block;
    clear: both; }
  .apply .user-details li {
    float: left;
    width: calc(50% - 7rem);
    margin-right: 14rem;
    margin-bottom: 2rem; }
    .apply .user-details li:nth-child(2n) {
      margin-right: 0; }
    .apply .user-details li input {
      margin-top: 1.125rem;
      padding-top: 0.3125rem;
      padding-right: 1.25rem;
      padding-bottom: 0.3125rem;
      padding-left: 1.25rem;
      width: 100%;
      border-radius: 8px;
      border: solid 1px #d5d5d5; }
      .apply .user-details li input:invalid {
        border: 1px solid red; }
    @media (max-width: 980px) {
      .apply .user-details li {
        width: 100%; } }
  .apply .apply-footer {
    margin-top: 4.0625rem; }
  .apply .cv-upload .file-dropzone {
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    border-radius: 8px;
    border: solid 1px #d5d5d5;
    padding: 2.3125rem 0 4rem 0; }
    .apply .cv-upload .file-dropzone .file-search {
      display: inline-block;
      position: relative;
      padding-top: 0rem;
      padding-right: 2.5rem;
      padding-bottom: 0rem;
      padding-left: 2.5rem; }
      .apply .cv-upload .file-dropzone .file-search label {
        color: #283583;
        font-weight: bold;
        display: block;
        font-size: 20px;
        padding: 0 20px;
        line-height: 2.1;
        cursor: pointer;
        position: relative; }
        .apply .cv-upload .file-dropzone .file-search label::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 0.125rem;
          display: block;
          background-color: #283583; }
      .apply .cv-upload .file-dropzone .file-search input[type="file"] {
        display: none; }
  .apply .comments textarea {
    margin-top: 1rem;
    padding-top: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    width: 100%;
    height: 120px;
    resize: none;
    border-radius: 8px;
    border: solid 1px #d5d5d5; }
  .apply input:invalid {
    border-color: red; }
  .apply .cta-button {
    padding: 0 4.7rem;
    margin-top: 5rem;
    float: right; }
