

body{
  font-family: 'Lato';
  font-size: rem-calc(14);
  font-weight: normal;
}

//heading styles
h1{
  font-size: rem-calc(82);
}
h2{
  font-size: rem-calc(82);
}
h3{
  font-size: rem-calc(24);
}
//logo styles

.logo{
  font-size: rem-calc(20);
  font-weight: normal;
  color: $accent-primary;
}

//main text styles
.main{
  &-heading{
    text-align: center;
    font-size: rem-calc(82);
    font-weight: bold;
    color: $accent-secondary;
  }
  &-description{
    text-align: center;
    font-size: rem-calc(24);
    line-height: 1.5;
    color:$text-secondary;
  }
}
.page-scroll{
  font-size: rem-calc(18);
  line-height: 2;
  color:$text-primary;
}

//sub text styles

.sub{
  &-heading{
    text-align: center;
    font-size: rem-calc(48);
    color: $text-primary;
  }
  &-description{
    text-align: center;
    font-size: rem-calc(20);
    line-height: 2;
    color:$text-secondary;
  }
}

//button text styles

.cta-button{
  font-size:rem-calc(16);
}

// card text styles
.card{
  &-heading{
    font-size:rem-calc(24);
    font-weight: 900;
    opacity:0.68;
  }
  &-description{
    font-size: rem-calc(14);
    line-height: 2;
    color:#929292;
  }
}

.bold-card{
  color: $text-primary-invert;
  text-align: center;
  &-title{
    font-size: rem-calc(64);
    font-weight: 900;
  }
  &-text{
    font-size: rem-calc(24);
    line-height: 1.5;
  }
}

.article-card__unit{
  font-size: rem-calc(14);
  color:$text-black;
  &-bottom{
    color:#848484;
    span{
      font-size: rem-calc(12);
    }
    .timestamp{
      font-size: rem-calc(14);
    }
  }
}

.apply{
    li{
      font-size: rem-calc(24);
      label{
        font-size: rem-calc(24);
        font-weight: bold;
        color:$text-black;
      }
      input,textarea{
        line-height:line-height-calc(24);
        font-size: rem-calc(20);
        color:$text-secondary;
      }
    }
}

.file-dropzone{
  p{
    font-weight: 200;
    color:#818182;
  }

}



.apply-footer{
  font-size:rem-calc(14);
  line-height: 1.5;
  color:#a2a2a2;
}
